<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" id="main-css" href="/stylesheets/main.css" />
    <script src="/javascripts/radar.js" defer></script>
    <script src="/javascripts/search.js" defer></script>
    <script src="/javascripts/scrollTop.js" defer></script>
    <script src="/javascripts/filterMenu.js" defer></script>
    <script src="/javascripts/search.js" defer></script>
    <script src="/javascripts/radarSwap.js" defer></script>
    <script src="/javascripts/loginMenu.js" defer></script>
    <title>Chuni Radar</title>
  </head>
  <body>
    <button id="openLoginForm">
      <img src="/menu_24dp.svg" />
    </button>
    <div class="offscreen closed" id="login-div">
      <div class="menu">
        <button id="closeMenu">
          <img src="/close.svg" alt="" />
        </button>
        <a href="/random" class="menu-item">
          <img class="menu-icon" src="/dice.svg" alt="" />
          <span class="menu-title">Random Chart</span>
        </a>
        <a href="/top/tricky" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Tricky</span>
        </a>
        <a href="/top/piano" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Piano</span>
        </a>
        <a href="/top/stamina" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Stamina</span>
        </a>
        <a href="/top/slide" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Slide</span>
        </a>
        <a href="/top/air" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Air</span>
        </a>
        <a href="/top/crosshand" class="menu-item">
          <img class="menu-icon" src="/question.svg" alt="" />
          <span class="menu-title">Cross Hand</span>
        </a>
        <a href="" class="menu-item">
          <img class="menu-icon" src="/info.svg" alt="" />
          <span class="menu-title">About</span>
        </a>
        <a href="" class="menu-item">
          <img class="menu-icon" src="/contact.svg" alt="" />
          <span class="menu-title">Contact</span>
        </a>
      </div>
      <form action="/" method="post" class="login-form" id="loginForm">
        <% if (!admin) { %>
        <span class="admin-login-title">admin login</span>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="enter username"
          onkeyup="enableLoginBtn()"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter password"
          onkeyup="enableLoginBtn()"
        />
        <button id="loginBtn" type="submit">Login</button>
        <% } %> <% if (admin) { %>
        <a href="/logout" class="logout-link">logout</a>
        <% } %>
        <div id="login-message">
          <span id="message"></span>
          <img class="loading-spinner" src="/progress.svg" alt="" />
        </div>
      </form>
    </div>
    <div id="content-blur"></div>
    <%- include('../partials/header.ejs') %>
    <div class="date-updated">updated: 06/10/24</div>
    <%- body %>
  </body>
</html>
